# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\rektplorer64\OneDrive\Documents\MUICT Works\YEAR 4\ITCS495 - Special Topics in Databases and Intelligent Systems\Project 1 - Sizzler OODB Database Design\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
